 .u-section-1 {
  background-image: url("images/young-successful-businessman-correcting-tie.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-align: justify;
  font-weight: 700;
  margin: 60px 630px 0 0;
}

.u-section-1 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 47px 630px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 630px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px 0;
  padding: 15px 54px 17px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 430px;
    width: 510px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 430px;
    width: 510px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 17.22% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 486px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/top-view-image-motivated-employees-working-together-office-official-meeting-concept-business.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 57px 30px;
}

.u-section-2 .u-icon-1 {
  width: 122px;
  height: 122px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 21px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 57px 30px;
}

.u-section-2 .u-icon-2 {
  width: 122px;
  height: 122px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 21px auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/front-view-team-meeting-mock-up.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 57px 30px;
}

.u-section-2 .u-icon-3 {
  width: 122px;
  height: 122px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 286px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 66px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 736px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 276px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -2px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 156px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 156px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 20px 49px 20px 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 48px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 13px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 824px;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 58px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 657px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-icon-1 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-icon-2 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-icon-3 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-icon-4 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-4 .u-text-8 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-icon-5 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-4 .u-text-10 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-icon-6 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-4 .u-text-12 {
  line-height: 1.64;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 962px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 666px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 255px;
  background-image: url("images/female-work-brainstorming.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 255px;
  background-image: url("images/16758708_rm405-da01-04-mockup.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 255px;
  background-image: url("images/front-view-team-meeting-mock-up.jpg?rand=4b9d");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 255px;
  background-image: url("images/top-view-image-motivated-employees-working-together-office-official-meeting-concept-business.jpg?rand=f77e");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  min-height: 255px;
  background-image: url("images/planning-risk-strategy-project-management-business.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  min-height: 255px;
  background-image: url("images/group-people-working-out-business-plan-office.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 255px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 30px auto 60px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-5 .u-image-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-5 .u-image-2 {
    min-height: 210px;
  }

  .u-section-5 .u-image-3 {
    min-height: 210px;
  }

  .u-section-5 .u-image-4 {
    min-height: 210px;
  }

  .u-section-5 .u-image-5 {
    min-height: 210px;
  }

  .u-section-5 .u-image-6 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 61px;
  }

  .u-section-5 .u-image-1 {
    min-height: 211px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 211px;
  }

  .u-section-5 .u-image-3 {
    min-height: 211px;
  }

  .u-section-5 .u-image-4 {
    min-height: 211px;
  }

  .u-section-5 .u-image-5 {
    min-height: 211px;
  }

  .u-section-5 .u-image-6 {
    min-height: 211px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 211px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 31px;
    margin-bottom: -162px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2352px;
  }

  .u-section-5 .u-image-1 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-bottom: -259px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1701px;
  }

  .u-section-5 .u-image-1 {
    min-height: 199px;
  }

  .u-section-5 .u-image-2 {
    min-height: 199px;
  }

  .u-section-5 .u-image-3 {
    min-height: 199px;
  }

  .u-section-5 .u-image-4 {
    min-height: 199px;
  }

  .u-section-5 .u-image-5 {
    min-height: 199px;
  }

  .u-section-5 .u-image-6 {
    min-height: 199px;
  }

  .u-section-5 .u-text-5 {
    margin-bottom: -199px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/silhouette-business-people-discussion-meeting-cityscape-team-concept.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 673px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 70px 429px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 38px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 150px 429px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  margin: 38px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 50px 994px -20px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 229px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 794px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-3 {
    margin-right: 9px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-5 {
    margin-right: 574px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    margin-right: 194px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 924px;
}

.u-section-7 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 620px;
  grid-gap: 10px;
}

.u-section-7 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-image-1 {
  height: 223px;
  width: 223px;
  background-image: url("images/successful-old-businessman-suit-glasses-looking-confident.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-image-2 {
  height: 223px;
  width: 223px;
  background-image: url("images/fashionable-young-redhead-woman-with-braid-tattoo-shoulder-having-rest-indoors.jpg");
  background-position: 24.89% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-image-3 {
  height: 223px;
  width: 223px;
  background-image: url("images/business-sucessful-businessman-working-with-laptop-using-computer-smiling-standing.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-icon-6 {
  height: 100%;
}

.u-section-7 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-image-4 {
  height: 223px;
  width: 223px;
  background-image: url("images/woman-sitting-sofa-with-laptop-legs.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-7 {
  height: 100%;
}

.u-section-7 .u-icon-8 {
  height: 100%;
}

.u-section-7 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-image-5 {
  height: 223px;
  width: 223px;
  background-image: url("images/autiful-caucasian-woman-laughing-covering-face-with-hand-chuckle-something-funny-express-happy-positive-emotions-white-wall.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-9 {
  height: 100%;
}

.u-section-7 .u-icon-10 {
  height: 100%;
}

.u-section-7 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

.u-section-7 .u-image-6 {
  height: 223px;
  width: 223px;
  background-image: url("images/handsome-businessman-suit-glasses-cross-arms-chest-lookcopy.jpg");
  background-position: 97.05% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-6 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-11 {
  height: 100%;
}

.u-section-7 .u-icon-12 {
  height: 100%;
}

.u-section-7 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 10px;
}

.u-section-7 .u-image-7 {
  height: 223px;
  width: 223px;
  background-image: url("images/positive-business-woman-posing-camera-outdoors.jpg");
  background-position: 0% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-7 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-13 {
  height: 100%;
}

.u-section-7 .u-icon-14 {
  height: 100%;
}

.u-section-7 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-8 {
  padding: 10px;
}

.u-section-7 .u-image-8 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}

.u-section-7 .u-social-icons-8 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-15 {
  height: 100%;
}

.u-section-7 .u-icon-16 {
  height: 100%;
}

.u-section-7 .u-text-9 {
  font-weight: 400;
  margin: 44px 645px 54px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 510px;
  }

  .u-section-7 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-5 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-6 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-7 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-8 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-9 {
    margin-right: 445px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1590px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-1 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-2 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-2 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-3 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-3 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-4 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-4 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-5 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-5 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-6 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-6 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-7 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-7 {
    margin-left: 1px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-8 {
    height: 222px;
    width: 222px;
    margin-right: 114px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 1px;
  }

  .u-section-7 .u-social-icons-8 {
    margin-left: 1px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 225px;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3199px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3003px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 30px;
    margin-right: 45px;
    margin-bottom: -1767px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3074px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1917px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-image-4 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-image-5 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-image-6 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
  }

  .u-section-7 .u-image-7 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-image-8 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
    margin-bottom: -1892px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 671px;
}

.u-section-8 .u-group-1 {
  width: 622px;
  min-height: 552px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 35px auto 0 0;
  padding: 17px 45px 18px 44px;
}

.u-section-8 .u-list-1 {
  width: 505px;
  margin: -552px 0 -42px auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  grid-gap: 30px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 13px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-8 .u-group-1 {
    min-height: 432px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-btn-1 {
    border-style: solid;
  }

  .u-section-8 .u-list-1 {
    margin-top: 0;
    margin-bottom: -20px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 600px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 290px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 460px 0 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto;
  margin: 56px auto 21px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 339px;
  grid-gap: 20px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-group-1 {
  width: 196px;
  min-height: 196px;
  height: auto;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 47px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-group-2 {
  width: 196px;
  min-height: 196px;
  height: auto;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 47px 0 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-group-3 {
  width: 196px;
  min-height: 196px;
  height: auto;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-8 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 260px;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 277px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-group-2 {
    height: auto;
  }

  .u-section-9 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/jhhhhhh.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 698px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -2px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 0 1px;
}

.u-section-10 .u-text-2 {
  margin: 32px 1px 0;
}

.u-section-10 .u-btn-1 {
  padding: 0;
}

.u-section-10 .u-list-1 {
  width: 417px;
  margin: 31px auto 0 1px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-10 .u-text-3 {
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 6px 1px 0;
}

.u-section-10 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-10 .u-text-4 {
  margin: 21px 1px 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-10 .u-text-5 {
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 6px 1px 0;
}

.u-section-10 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-10 .u-text-6 {
  margin: 21px 1px 0;
}

.u-section-10 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-10 .u-text-7 {
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 6px 1px 0;
}

.u-section-10 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-10 .u-text-8 {
  margin: 21px 1px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 578px;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-form-1 {
  height: 508px;
  width: 509px;
  margin: 4px auto 0;
}

.u-section-10 .u-label-1 {
  font-weight: 700;
}

.u-section-10 .u-label-2 {
  font-weight: 700;
}

.u-section-10 .u-form-group-3 {
  margin-left: 0;
}

.u-section-10 .u-label-3 {
  font-weight: 700;
}

.u-section-10 .u-label-4 {
  font-weight: 700;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-list-1 {
    width: 396px;
    margin-left: 0;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-10 .u-form-1 {
    width: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-list-1 {
    width: 290px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-form-1 {
    width: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-form-1 {
    width: 515px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }
}