body{height: 1000px;
background-color: rgb(0, 0, 0, 0.8);
}


.header{
    width:1536px;
    height: 185px;
    padding-left: 0px;
margin-top: -8px;
margin-left: -8px;
background-color: rgb(0, 0, 0);


}

.p-head{position: absolute;
color: rgb(10, 251, 34);
font-size: 30px;
left: 1150px;
top: 30px;
transform: rotate(45deg);
pointer-events: none;
filter: drop-shadow(0 1px 3px);

}

.p-head2{
    position: absolute;
    z-index: 100;
    color: rgba(0, 0, 0, 0.756);
    left: 530px;
    font-size: 24px;
}

.logo{
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: rgb(0, 0, 0, 0);
  position: relative;
  top: 30px;
  cursor: pointer;
  z-index: 100;
  pointer-events: none;

}

.logo2{
    position: absolute;
    transform: scaleX(-1);
    left: 1380px;
    pointer-events: none;
}

.head-content {
    display: inline-block;
    background-color: rgb(0, 0, 0, 0);
    width:994px;
    position: relative;
    top: -10px;
    left: 100px;
    z-index: 99;

}

.page-name{
    color: rgba(255, 255, 255);
    filter: drop-shadow(0 1px 3px);
    z-index: 98;
    font-size: 25px;
    position: absolute;
    top: -100px;
    pointer-events: none;

}

.lema{
   padding-left: 100px;
    color: rgba(255, 255, 255);
    z-index:97;
    position: absolute;
    top: -120px;
    left: 200px;
    
}



.sect-tabs{
    height: 45px;
    z-index: 96;
}



.sect-tabs a{
    position: relative;
font-size: 25px;
color: rgb(255, 255, 255,0.6);
text-decoration: none;
width: 80px;
margin-left: 80px;
left: 350px;
filter: drop-shadow(0 1px 3px);
z-index: 95;



}

.sect-tabs a:hover{
    cursor: pointer;
animation-name: animacion-tab;
animation: animacion-tab;
animation-duration: 2s;
animation-iteration-count: infinite;

}




.lineablanca1{

    width: 100%;
    height: 5px;
    background-color: white;
    
}
.lineablanca2{

    width: 100%;
    height: 5px;
    background-color: white;
    
}
.lineablanca3{

    width: 100%;
    height: 5px;
    background-color: white;
}


.l1{
    width: 2px;
    height: 30px;
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 530px;
    filter: drop-shadow(0 1px 3px);
}

.l2{
    width: 2px;
    height: 30px;
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 710px;
    filter: drop-shadow(0 1px 3px);
}

.l3{
    width: 2px;
    height: 30px;
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 880px;
    filter: drop-shadow(0 1px 3px);
}

.l4{
    width: 2px;
    height: 30px;
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 1000px;
    filter: drop-shadow(0 1px 3px);
    
}














































































.piedepagina{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.8);
    position: relative;
    bottom: -150vh;
    color: white;
    
}

.p1{
    position:absolute;
   left: 100px;
   pointer-events: none;

}

.p2{
    position:absolute;
    left: 1200px;

}












@keyframes animacion-tab {

0%{color: white;}
50%{color: gray;}
100%{color: white;}



}

@keyframes invi{

    0%{opacity: 1;}

    50%{opacity: 0;}

    100%{opacity: 1;}

}
